__pycache__/
*.pyc
.DS_Store
.vscode/
checkpoints/
out/
*.pth
*.pt
*.bin
*.safetensors
*.ckpt
*.log
*.tar.gz
dataset/*.jsonl
dataset/.msc
dataset/.mv
website/
docs-minimind/
learning_notebooks/.cache/
learning_notebooks/.ipynb_checkpoints/
